.container-list-products .row-1 {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.container-list-products .row-1 .title {
     font-size: 20px;
     font-family: Verdana;
     font-weight: 500;
}
.container-list-products .row-1 > .option {
     font-size: 13px;
     font-family: Verdana;
}
.container-list-products .row-1 > .option > select {
     border: 1px solid #ccc;
     outline: none;
     padding: 4px 5px;
}
.container-list-products .row-2 {
     margin-top: 25px;
}

.container-list-products > .not-products {
     margin-top: 25px;
     border: 1px solid var(--main-color);
     padding: 20px 40px;
}
