.good-tips {
     width: var(--main-width);
     margin: 50px 0;
     overflow: hidden;
}

.good-tips > .col-1 {
     margin-bottom: 2rem !important;
}
.good-tips > .col-2 .slick-track {
     width: 2000px !important;
}
.good-tips > .col-2 .slick-slide {
     width: 345px !important;
}
.good-tips > .col-2 .slick-slide {
     margin-right: 2rem;
}
.good-tips > .col-2 .slick-slide .container-img {
     width: 345px !important;
}
.good-tips > .col-2 .slick-arrow {
     border-radius: 50%;
     display: block;
     position: absolute;
     right: 0;
     top: -3.5rem;
}
.good-tips > .col-2 .slick-arrow::before {
     color: var(--main-color);
}

.good-tips > .col-2 .slick-prev {
     left: calc(100% - 3rem);
}
