.good-tips {
     width: var(--main-width);
     margin: var(--gap-component) 0;
}

.good-tips > .col-1 {
     margin-bottom: 2rem !important;
}
.good-tips > .col-2 {
     width: var(--main-width) !important;
}
.good-tips > .col-2 .slick-slide {
     /* width: calc((var(--main-width) / 3)) !important; */
     padding: 0 1rem;
}
.good-tips > .col-2 .slick-slide .container-img {
     width: 100% !important;
}
.good-tips > .col-2 .slick-arrow {
     border-radius: 50%;
     display: block;
     position: absolute;
     right: 0;
     top: -3.5rem;
}
.good-tips > .col-2 .slick-arrow::before {
     color: var(--main-color);
}

.good-tips > .col-2 .slick-prev {
     left: calc(100% - 3rem);
}

@media only screen and (max-width: 999px) {
     .good-tips > .col-2 .slick-slide {
          width: calc(var(--main-width) / 2) !important;
     }
}
@media only screen and (max-width: 765px) {
     .good-tips > .col-2 .slick-slide {
          width: calc(var(--main-width) / 4) !important;
     }
}
