.product {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.product > .container-img {
     position: relative;
     border-radius: 5px;
     overflow: hidden;
     width: 177px;
     height: 177px;
     background-color: #eee;
}
.product > .container-img > img {
     width: 100%;
     height: 100%;
}
.product > .container-img > .container-option {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 100px;
     left: 0;
     display: flex;
     justify-content: center;
}
.product > .container-img > .container-option > span {
     display: none;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     padding: 5px;
     margin: 0 5px;
     background-color: white;
     border-radius: 5px;
     z-index: 2;
}
.product > .container-img > .container-option > span:hover {
     background-color: var(--main-color);
}
.product > .container-img > .banner-shadow {
     position: absolute;
     content: "";
     background-color: white;
     opacity: 0.4;
     width: 100%;
     height: 100%;
     top: 0;
     z-index: 1;
     left: 0;
     display: none;
}
.product > .container-img:hover > .banner-shadow {
     display: block;
}
.product > .container-img:hover > .container-option > span {
     display: flex;
}
.product > .name-product {
     font-size: 16px;
     font-weight: 400;
     margin: 10px 0;
}

.product > .price-product {
     color: var(--main-color);
     font-weight: 500;
}

@media only screen and (max-width: 999px) {
     .product > .container-img:hover > .container-option > span {
          display: none;
     }
}
