.content-introduction {
     width: var(--main-width);
     margin-bottom: 25px;
}
.content-introduction > .title {
     font-size: var(--font-title);
     letter-spacing: -1px;
     margin-top: var(--gap-component);
}

.content-introduction > .content > p {
     margin-top: 15px;
     font-size: 15px;
     font-weight: 450;
}
