.not-found {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     /* padding: 3rem 0; */
}
.not-found > .table-404 {
     /* margin: 1rem 0; */
}
