.new-products {
     margin-top: var(--gap-component);
     width: var(--main-width);
}
.new-products > .col-1 {
     margin-bottom: 2rem !important;
}

.new-products > .col-2 .slick-arrow {
     border-radius: 50%;
     display: block;
     position: absolute;
     right: 0;
     top: -3.5rem;
}
.new-products > .col-2 .slick-arrow::before {
     color: var(--main-color);
}

.new-products > .col-2 .slick-prev {
     left: calc(100% - 3rem);
}

@media only screen and (min-width: 568px) {
     .new-products > .col-2 .container-img {
          height: 200px;
          width: 200px !important;
     }
}
