.container-products-page {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.container-products-page .title > p {
     font-size: 18px;
     color: white;
     letter-spacing: -1px;
     margin: 45px 0 30px -5px;
     background-color: var(--main-color);
     clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
     width: fit-content;
     padding: 2.5px 20px;
}
.container-products-page > .content {
     display: flex;
     width: var(--main-width);
     padding-bottom: var(--gap-component);
}
.container-products-page > .content > .col-1 {
     width: 25%;
}
.container-products-page > .content > .col-2 {
     flex: 1;
     margin-left: 2rem;
     margin-top: var(--gap-component);
}

.container-products-page > .content > .col-2 > .change-page i {
     cursor: pointer;
     font-size: 18px;
     color: #ccc;
}
.container-products-page > .content > .col-2 > .change-page i:hover {
     color: var(--main-color);
}
.container-products-page > .content > .col-2 > .change-page button {
     border: 1px solid var(--main-color);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 2rem;
     height: 2rem;
     margin: 0 5px;
}

.container-products-page > .content > .col-2 > .change-page button:hover {
     color: var(--main-color);
     border-color: var(--main-color);
}
.open-category-mb-tb {
     display: none;
}
.fa-filter {
     display: block;
     position: fixed;
     top: 60%;
     right: 0;
     font-size: 1.5rem;
     color: var(--main-color);
     background-color: white;
     padding: 0.5rem;
     border: 1px var(--main-color) solid;
     border-radius: 2px;
}

@media only screen and (max-width: 1199px) {
     .open-category-mb-tb {
          display: block;
          z-index: 80;
     }
     .open-category-mb-tb span {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #333;
          transition: all 0.5s linear;
          opacity: 0.5;
          z-index: 2;
     }
     .container-products-page > .content > .col-1 {
          width: 40%;
          display: block;
          position: fixed;
          padding: 0 1rem 1rem;
          top: 0;
          right: -100%;
          background-color: white;
          z-index: 80;
          height: 100vh;
          overflow-y: scroll;
          transition: all 0.5s linear;
     }
     .container-products-page > .content > .col-2 {
          width: var(--main-width);
          margin-left: 0;
     }
}

@media only screen and (max-width: 765px) {
     .container-products-page > .content > .col-1 {
          width: 50%;
     }
     .container-products-page > .content > .col-2 {
          grid-template-columns: repeat(3, 1fr);
     }
}
@media only screen and (max-width: 567px) {
     .container-products-page > .content > .col-1 {
          width: 75%;
     }
}
