.container-products-page {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.container-products-page .title > p {
     font-size: 18px;
     color: white;
     letter-spacing: -1px;
     margin: 45px 0 30px -5px;
     background-color: var(--main-color);
     clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
     width: fit-content;
     padding: 2.5px 20px;
}
.container-products-page > .content {
     display: flex;
     width: var(--main-width);
     padding-bottom: 50px;
}
.container-products-page > .content > .col-1 {
     width: 25%;
}
.container-products-page > .content > .col-2 {
     flex: 1;
     margin-left: 2rem;
     margin-top: 50px;
}

.container-products-page > .content > .col-2 > .change-page i {
     cursor: pointer;
     font-size: 18px;
     color: #ccc;
}
.container-products-page > .content > .col-2 > .change-page i:hover {
     color: var(--main-color);
}
.container-products-page > .content > .col-2 > .change-page button {
     border: 1px solid var(--main-color);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 2rem;
     height: 2rem;
     margin: 0 5px;
}

.container-products-page > .content > .col-2 > .change-page button:hover {
     color: var(--main-color);
     border-color: var(--main-color);
}
