.cart-page {
     display: flex;
     flex-direction: column;
     align-items: center;
}
.cart-page .container-content {
     width: var(--main-width);
     margin: 50px 0;
}
.cart-page .container-content > .title {
     font-weight: 500;
     font-size: 28px;
     margin-bottom: 15px;
}
.cart-page .container-content  > .content {
     border: 1px solid var(--main-color);
     padding: 20px;
}
.cart-page .container-content > .not-products {
     font-family: sans-serif;
     letter-spacing: -0.5px;
}
.cart-page .container-content > .has-products .header {
     display: grid;
     grid-template-columns: repeat(6, auto);
     border-bottom: 1px solid var(--main-color);
     padding: 0;
     padding-bottom: 20px;
     font-weight: 500;
     font-size: 17px;
}
.cart-page .container-content > .has-products .header p:nth-child(1) {
     grid-column: 1 / 4;
     padding-left: 75px;
}
.cart-page .container-content > .has-products .header p:not(:first-child) {
     text-align: center;
     width: 100%;
}
.cart-page .container-content > .has-products .header p:last-child {
     padding-right: 25px;
}

.cart-page .container-content > .has-products .container-totals {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     margin: 25px 0;
}
.cart-page .container-content > .has-products .container-totals > .totals {
     width: fit-content;
}
.cart-page .container-content > .has-products .container-totals > .totals > .total-price {
     display: flex;
     align-items: center;
     justify-content: center;
}
.cart-page .container-content > .has-products .container-totals > .totals > .total-price > p:nth-child(1) {
     font-size: 20px;
}
.cart-page .container-content > .has-products .container-totals > .totals > .total-price > p:nth-child(2) {
     color: var(--main-color);
     font-size: 18px;
     font-weight: 500;
     margin-left: 50px;
}
.cart-page .container-content > .has-products .container-totals > .totals > .checkout button {
     margin-top: 25px;
     padding: 10px 25px;
     font-size: 14px;
     font-weight: 500;
     background-color: #eee;
     border-radius: 5px;
}
.cart-page .container-content > .has-products .container-totals > .totals > .checkout button:nth-child(2) {
     margin-left: 20px;
     color: white;
     background-color: var(--main-color);
}
.cart-page .container-content > .has-products .container-totals > .totals > .checkout button:nth-child(1):hover {
     background-color: #ccc;
}
.cart-page .container-content > .has-products .container-totals > .totals > .checkout button:nth-child(2):hover {
     background-color: orange;
}