.container-content-cart-page {
     width: var(--main-width);
     margin: var(--gap-component) 0;
}
.container-content-cart-page > .title {
     font-weight: 500;
     font-size: 28px;
     margin-bottom: 15px;
}
.container-content-cart-page > .content {
     width: 100%;
     border: 1px solid var(--main-color);
     border-radius: 2px;
}
.container-content-cart-page > .not-products {
     font-family: sans-serif;
     letter-spacing: -0.5px;
     padding: 1.5rem 2rem;
}

/* header  */
.container-content-cart-page > .has-products .header {
     width: 100%;
     display: flex;
     border-bottom: 1px solid var(--main-color);
     padding: 20px 0;
     font-weight: 500;
     font-size: 17px;
}
.container-content-cart-page > .has-products .header > p > span {
     width: 100%;
}
.container-content-cart-page > .has-products .header .product {
     width: 40%;
     padding-left: 4.5rem;
}
.container-content-cart-page > .has-products .header .price,
.container-content-cart-page > .has-products .header .quantity,
.container-content-cart-page > .has-products .header .total {
     width: 20%;
     text-align: center;
}
.container-content-cart-page > .has-products .header .total {
     text-align: end;
     padding-right: 2rem;
}

/* total all product */
.container-content-cart-page > .has-products .container-totals {
     width: 100%;
     display: flex;
     justify-content: flex-end;
     margin: 25px 0;
}
.container-content-cart-page > .has-products .container-totals > .totals {
     width: fit-content;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .total-price {
     display: flex;
     align-items: center;
     justify-content: center;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .total-price
     > p:nth-child(1) {
     font-size: 20px;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .total-price
     > p:nth-child(2) {
     color: var(--main-color);
     font-size: 18px;
     font-weight: 500;
     width: 200px;
     padding-right: 2rem;
     text-align: end;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .checkout
     button {
     margin: 25px 10px 0 0;
     padding: 10px 25px;
     font-size: 14px;
     font-weight: 500;
     background-color: #eee;
     border-radius: 5px;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .checkout
     button:nth-child(2) {
     color: white;
     background-color: var(--main-color);
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .checkout
     button:nth-child(1):hover {
     background-color: #ccc;
}
.container-content-cart-page
     > .has-products
     .container-totals
     > .totals
     > .checkout
     button:nth-child(2):hover {
     background-color: orange;
}

@media only screen and (max-width: 765px) {
     .container-content-cart-page > .has-products .header {
          display: none;
     }
     .container-content-cart-page > .content {
          border: none;
     }
     .container-content-cart-page > .not-products {
          border: 1px solid var(--main-color);
          padding: 1rem 1.5rem;
          margin-bottom: 1rem;
     }
}

@media only screen and (max-width: 567px) {
     .container-content-cart-page {
          margin-top: 1rem;
          margin-bottom: 0;
     }
     .container-content-cart-page
          > .has-products
          .container-totals
          > .totals
          > .checkout
          button {
          width: 100%;
          margin: 10px 0;
     }
}
