.content-search-products {
     padding: 50px 0;
     width: var(--main-width);
}

.content-search-products .title {
     font-size: 24px;
}

.content-search-products .container-products {
     margin-top: 25px;
}

.content-search-products .container-products .quantity-products {
     margin-bottom: 20px;
     font-size: 20px;
}

.content-search-products .no-product {
     margin-top: 25px;
     padding: 1rem 2rem;
     border: 1px solid var(--main-color);
     border-radius: 2px;
     font-family: sans-serif;
     letter-spacing: -0.5px;
     padding: 20px;
}
