.product-in-cart {
     display: flex;
     width: var(--main-width);
     padding: 15px 0;
     border-bottom: 1px solid #eee;
}
.product-in-cart > div {
     display: flex;
     align-items: center;
}
/* part product */
.product-in-cart > .product {
     width: 40%;
     flex-direction: row;
}
/* part other */
.product-in-cart > .price,
.product-in-cart > .container-quantity,
.product-in-cart > .total {
     width: 20% !important;
}
.product-in-cart > .product i {
     margin: 2rem;
}
.product-in-cart > .product img {
     width: 100px;
     height: 100px;
}
.product-in-cart > .product p {
     padding-left: 20px;
}

.product-in-cart > div:nth-child(2) p {
     text-align: center;
     padding-left: 20px;
     width: 100%;
}
.product-in-cart > div:nth-child(3) {
     display: flex;
     justify-content: center;
}
.product-in-cart > div:nth-child(3) > .quantity {
     border: 1px solid #ccc;
     display: flex;
     align-items: center;
}
.product-in-cart > div:nth-child(3) > .quantity p {
     padding: 3px 52px 3px 8px;
}
.product-in-cart > div:nth-child(3) > .quantity > div {
     display: flex;
     padding-right: 10px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.product-in-cart > div:nth-child(3) > .quantity > div i {
     cursor: pointer;
}

.product-in-cart > .total p {
     text-align: end;
     width: 100%;
     margin-right: 2rem;
}
