.content-signpage {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 40%;
     margin: var(--gap-component) 0;
}
.content-signpage .title {
     font-size: var(--font-title);
}
.content-signpage > .available-login {
     display: flex;
     margin: 20px;
}

.content-signpage > .available-login img {
     height: 35px;
}

.content-signpage > .available-login img:nth-child(1) {
     margin-right: 10px;
}

.sign-page .click:hover {
     color: var(--main-color);
}

/* pattern button */
.pattern-button {
     background-color: var(--main-color);
     color: white;
     font-weight: 500;
     padding: 10px 50px;
     border-radius: 5px;
     margin: 20px;
}
.pattern-button:hover {
     background-color: orangered;
}
.pattern-button button {
     outline: none;
}

/* log out */
.container-logout::after {
     content: "";
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     opacity: 0.2;
     z-index: 100;
}
@media only screen and (max-width: 999px) {
     .content-signpage {
          width: 75%;
     }
}
@media only screen and (max-width: 765px) {
     .content-signpage {
          width: var(--main-width);
     }
}
@media only screen and (max-width: 567px) {
     .content-signpage > .available-login {
          margin: 10px 0;
     }
     .content-signpage > .available-login img {
          width: 100px;
     }
     .pattern-button {
          padding: 5px 25px;
     }
}
