.payment-page {
     flex-direction: column;
     display: flex;
     align-items: center;
}

.payment-page > .content {
     padding: 20px 0 70px;
     background-color: #dfe1ed;
     /* width: var(--main-width); */
     width: 100%;
     font-family: arial, sans-serif;
     /* box-sizing: border-box; */
     color: #313a73;
     display: flex;
     justify-content: center;
     align-items: center;
}

/* @media screen and (min-width: 1024px) {
     #form-wrapper {
          left: calc(50vw - 512px);
     }
} */
@media screen and (max-width: 1023px) {
     #form-wrapper #form-cart-menu {
          width: auto !important;
     }
     #form-wrapper {
          top: 0px !important;
     }
}
#form-wrapper {
     /* width: 100vw; */
     width: var(--main-width);
     background-color: white;
     /* float: left; */
     position: relative;
     top: 25px;
     border-radius: 3px;
     -webkit-box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 0px 36px -5px rgba(0, 0, 0, 0.2);
     overflow: hidden;
}
#form-left-wrapper {
     width: 75%;
     float: left;
     height: 100%;
     padding: 20px;
     position: relative;
     min-height: 278px !important;
     /* clear: both; */
     padding-top: 20px;
     padding-bottom: 20px;
}
@media screen and (max-width: 1023px) {
     #form-left-wrapper {
          width: 100% !important;
     }
}
.tab-menu-item {
     width: 33%;
     float: left;
     padding: 15px;
     padding-top: 15px;
     padding-bottom: 25px;
     box-sizing: border-box;
     color: darken(#dfe1ed, 5%);
     font-size: 0.9em;
     text-align: center;
     cursor: pointer;
     transition: 100ms ease;
     text-align: center;
}
.tab-menu-item:not(.current)::hover {
     color: darken(#dfe1ed, 10%);
}
.current {
     color: #313a73;
     border-bottom: 3px solid #34a7e8;
     cursor: default;
     font-weight: 600;
     box-sizing: border-box;
}
#form-cart-menu {
     width: 25%;
     float: left;
     background-color: #313a73;
     height: 100%;
     box-sizing: border-box;
     padding: 20px;
     font-size: 0.9em;
     border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     min-height: 278px;
}
.shopping-cart-head h1 {
     font-weight: 600;
     color: white;
}
tr.shopping-cart-item {
     padding-top: 5px;
     padding-bottom: 5px;
     height: 50px;
     box-sizing: border-box;
     line-height: 1.4em;
}
tr.shopping-cart-item td {
     padding: 5px;
     background-color: transparentize(white, 0.97);
     border-top: 3px solid #313a73;
     border-bottom: 3px solid #313a73;
     box-sizing: border-box;
     width: 100%;
}
.cart-title {
     color: #34a7e8;
}
.shopping-cart-total {
     color: white;
}
.shopping-cart-total td {
     padding: 5px;
     padding-top: 15px;
}
.cart-price:before,
.cart-price-total:before {
     content: "$";
}
.cart-price:not(.cart-price-total) {
     color: transparentize(white, 0.1);
}

.shopping-cart-head {
     padding-bottom: 25px;
     padding-top: 5px;
}

#shipping-body,
#payment-body,
#confirmation-body {
     position: relative;
     width: 100%;
}

#payment-body,
#confirmation-body {
     position: absolute;
     top: 100px;
}

.form-input {
     float: left;
     box-sizing: border-box;
     padding-right: 10px;
}
.form-input label {
     line-height: 30px;
     color: #313a73;
}
.form-input input {
     width: 100%;
     padding: 10px;
     font-size: 1em;
     color: #313a73;
}
.input-small {
     width: 33.33%;
}
.input-medium {
     width: 66.66%;
}
@media screen and (max-width: 700px) {
     .input-small {
          width: 50%;
     }
     .input-medium {
          width: 100%;
     }
}
@media screen and (max-width: 475px) {
     .input-small {
          width: 100%;
     }
     .input-medium {
          width: 100%;
     }
}
.form-input-checkbox {
     font-size: 0.8em;
     cursor: pointer;
     float: right;
     margin-top: 25px;
}
.form-input-checkbox input {
     cursor: pointer;
}

.hr {
     margin-top: 35px;
     margin-bottom: 35px;
     height: 2px;
     width: calc(100% - 10px);
     background-color: transparentize(#dfe1ed, 0.3);
     float: left;
     box-sizing: border-box;
}

.form-input input {
     border-radius: 2px;
     border: 2px solid #dfe1ed;
}

#contact-details {
     float: left;
     margin-top: 20px;
     width: 100%;
}
@media screen and (min-width: 1024px) {
     #form-cart-menu {
          position: absolute;
          right: 0;
          top: 0;
     }
}
@media screen and (max-width: 1023px) {
     #form-cart-menu {
          border-bottom-left-radius: 3px !important;
          border-top-right-radius: 0px !important;
          border-top-left-radius: 0px !important;
          position: relative !important;
          top: 0;
     }
}
#form-submit {
     padding-top: 30px;
     float: right;
     clear: both;
     width: 100%;
}
#form-submit button {
     background-color: #29d366;
     border: none;
     border-radius: 3px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 35px;
     padding-left: 35px;
     color: white;
     cursor: pointer;
     font-size: 1em;
     width: 25%;
     min-width: 150px;
     float: right;
}
@media screen and (max-width: 1023px) {
     #form-submit input[type="submit"] {
          width: 33.3%;
     }
}
@media screen and (max-width: 475px) {
     #form-submit input[type="submit"] {
          width: 100%;
     }
}
