.content-payment-page {
     padding: var(--gap-component) 0;
     width: 100%;
     font-family: arial, sans-serif;
     color: #313a73;
     display: flex;
}
.content-payment-page > div > .title {
     font-size: var(--font-title);
     font-weight: bold;
     letter-spacing: 1px;
     margin-bottom: 1rem;
}
/* address */
.content-payment-page .address {
     flex: 1;
     padding-right: 3rem;
}
.content-payment-page .address label {
     display: block;
}
.content-payment-page .address input:not(input[type="checkbox"]) {
     margin: 1rem 0;
     padding: 0.5rem 1rem;
     width: 100%;
     /* background-color: #eee; */
     box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
          15px 15px 100px rgba(56, 56, 56, 0.1),
          inset -5px -5px 5px rgba(255, 255, 255, 0.2),
          inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.content-payment-page .address > div > button {
     margin-top: 1rem;
     padding: 0.5rem 0;
     width: 120px;
     background-color: var(--main-color);
     border-radius: 3px;
     color: white;
}
.content-payment-page .address > div > button:hover {
     opacity: 0.75;
}

/* cart */
.content-payment-page .cart {
     width: 30%;
     overflow: hidden;
}
.content-payment-page .cart > div {
     background-color: #eee;
     height: 100%;
}
.content-payment-page .cart .product {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 1rem 0;
     border: 1px solid #ccc;
}

.content-payment-page .cart .product .name {
     white-space: nowrap;
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
}

/* plus-containter-product */
.plus-containter-product {
     position: relative;
     display: block;
     width: 100%;
     padding: 1rem;
     background-color: white;
}
.plus-containter-product span {
     position: absolute;
     left: 1rem;
     top: 50%;
     transform: translateY(-50%);
     height: 100%;
     font-size: 1.5rem;
}

.content-payment-page .cart .container-product {
     overflow: hidden;
     transition: all 0.25s ease;
}

@media only screen and (max-width: 999px) {
     .content-payment-page .address {
          padding-right: 2rem;
     }
     .content-payment-page .cart {
          width: 40%;
     }
}

@media only screen and (max-width: 765px) {
     .content-payment-page {
          flex-direction: column-reverse;
     }
     .content-payment-page .address {
          padding-right: 0;
     }
     .content-payment-page .cart {
          width: 100%;
          margin-bottom: 1rem;
     }
     .content-payment-page .cart .product_total {
          display: flex;
          flex-direction: column-reverse;
     }
     .content-payment-page .cart .container-product {
          height: 0;
          transition: all 0.5s ease;
     }
}

@media only screen and (max-width: 567px) {
     .content-payment-page .cart .product {
          padding: 0;
     }
}
