.detail-product,
.detail-product > .container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

/* config describe product */
.detail-product > .container > .pattern-view-product {
     position: relative;
     width: var(--main-width);
     height: fit-content !important;
     margin: var(--gap-component) 0 !important;
}
.detail-product
     > .container
     > .pattern-view-product
     .container-describe-product {
     width: var(--main-width);
}
.detail-product
     > .container
     > .pattern-view-product
     > .container-describe-product
     > div {
     margin: 0 !important;
}
.detail-product
     > .container
     > .pattern-view-product
     > .container-describe-product
     > .col-1 {
     width: 100%;
     padding: 0 !important;
}
.detail-product
     > .container
     > .pattern-view-product
     > .container-describe-product
     > .col-2 {
     padding: 20px !important;
     margin-left: 25px !important;
}
.detail-product > .container > .pattern-view-product::after {
     display: none;
}

/* content */
.detail-product > .container > .describe-info {
     width: var(--main-width);
     margin-bottom: var(--gap-component);
}
.detail-product > .container > .describe-info .container-title {
     width: 100%;
     display: flex;
     justify-content: center;
     border-bottom: 1px solid #eee;
     color: var(--main-color);
     padding-bottom: 20px;
     margin-bottom: 20px;
     letter-spacing: -1px;
     font-weight: 500;
}
.detail-product > .container > .describe-info .container-title button {
     font-size: 20px;
     margin: 0 1rem;
     padding: 0.5rem 1rem;
     outline: none;
     border-radius: 5px;
     box-shadow: -3px -3px 15px rgba(0, 0, 0, 0.1),
          3px 3px 15px rgba(255, 255, 255, 0.2),
          inset -5px -5px 5px rgba(0, 0, 0, 0.1),
          inset 5px 5px 5px rgba(255, 255, 255, 0.2);
     transition: all 0.25s ease;
}
.detail-product > .container > .describe-info .container-title button:active {
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
          -5px -5px 15px rgba(255, 255, 255, 0.2),
          inset 5px 5px 5px rgba(0, 0, 0, 0.1),
          inset -5px -5px 5px rgba(255, 255, 255, 0.2);
     background-color: var(--main-color);
     color: white;
}
.detail-product > .container > .describe-info .container-title .clicked {
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
          -5px -5px 15px rgba(255, 255, 255, 0.2),
          inset 5px 5px 5px rgba(0, 0, 0, 0.1),
          inset -5px -5px 5px rgba(255, 255, 255, 0.2);
     background-color: var(--main-color);
     color: white;
}
.detail-product > .container > .describe-info .content {
     line-height: 40px;
     font-size: 14px;
     letter-spacing: -0.25px;
}

@media only screen and (max-width: 765px) {
     .detail-product
          > .container
          > .pattern-view-product
          > .container-describe-product
          > .col-1 {
          width: calc(var(--main-width) - 5rem);
     }
     .pattern-view-product > .container-describe-product {
          flex-direction: column;
          align-items: center;
     }
     .detail-product
          > .container
          > .pattern-view-product
          > .container-describe-product
          > .col-2 {
          margin-left: 0 !important;
          width: 100vw;
     }
     .detail-product > .container > .describe-info .container-title button {
          font-size: 14px;
     }
     .detail-product > .container > .describe-info .content {
          padding-left: 1rem;
     }
}
